
<div class="form-group row" [ngClass]="{'hide': !isCollapsed}">
    <label class="col-md-2 col-form-label">{{address.get('addressType').value}} Address</label>
    <div class="col-md-8 ">{{summary}}</div>
    <div class="col-md-2">
        <button class="btn btn-outline-primary" (click)="isCollapsed = false">Edit</button>
    </div>
</div>


<div [formGroup]="address" class="address" [ngClass]="{
  'is-invalid':
    (address.touched ||
      address.dirty) &&
    !address.valid, 'hide': isCollapsed}">
    <div class="form-group row">
        <h5 class="col-md-12">{{address.get('addressType').value}} Address:</h5>
      </div>
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label pt-0">Address Type</label>
      <div class="col-md-8">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              class="form-check-input"
              id="{{ 'addressType1Id' + i }}"
              type="radio"
              value="home"
              formControlName="addressType"
            />
            Home
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              class="form-check-input"
              id="{{ 'addressType1Id' + i }}"
              type="radio"
              value="work"
              formControlName="addressType"
            />
            Work
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              class="form-check-input"
              id="{{ 'addressType1Id' + i }}"
              type="radio"
              value="other"
              formControlName="addressType"
            />
            Other
          </label>
        </div>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label
        class="col-md-2 col-form-label"
        attr.for="{{ 'street1Id' + i }}"
        >Street Address 1</label
      >
      <div class="col-md-8">
        <input
          class="form-control"
          id="{{ 'street1Id' + i }}"
          type="text"
          placeholder="Street address"
          formControlName="line1"
          name="street1"
          [ngClass]="{
            'is-invalid':
              (address.get('line1').touched ||
                address.get('line1').dirty) &&
              !address.get('line1').valid
          }"
        />

        <span class="invalid-feedback">
            <span *ngIf="address.get('line1').errors?.required">
              Please enter the first line of your address.
            </span>
        </span>

      </div>
    </div>

    <div class="form-group row mb-2">
      <label
        class="col-md-2 col-form-label"
        attr.for="{{ 'street2Id' + i }}"
        >Street Address 2</label
      >
      <div class="col-md-8">
        <input
          class="form-control"
          id="{{ 'street2Id' + i }}"
          type="text"
          placeholder="Street address (second line)"
          formControlName="line2"
        />
      </div>
    </div>

    <div class="form-group row mb-2">
      <label
        class="col-md-2 col-form-label"
        attr.for="{{ 'cityId' + i }}"
        >City, County, Post Code</label
      >
      <div class="col-md-3">
        <input
          class="form-control"
          id="{{ 'cityId' + i }}"
          type="text"
          placeholder="City"
          formControlName="town"
          [ngClass]="{
            'is-invalid':
              (address.get('town').touched ||
                address.get('town').dirty) &&
              !address.get('town').valid
          }"
        />
        <span class="invalid-feedback">
            <span *ngIf="address.get('town').errors?.required">
              Please enter the town.
            </span>
        </span>
      </div>
      <div class="col-md-3">
        <select
          class="form-control"
          id="{{ 'countyId' + i }}"
          formControlName="county"
        >
          <option value="" disabled selected hidden
            >Select a County...</option
          >
          <option value="LON">London</option>
          <option value="HERTS">Hertfordshire</option>
          <option value="ESSEX">Essex</option>
          <option value="KENT">Kent</option>
          <option value="SURR">Surrey</option>
          <option value="BUCKS">Buckinghamshire</option>
        </select>
      </div>
      <div class="col-md-2">
        <input
          class="form-control"
          id="{{ 'postCodeId' + i }}"
          type="text"
          placeholder="Post Code"
          formControlName="postCode"
          [ngClass]="{
            'is-invalid':
              (address.get('postCode').touched ||
                address.get('postCode').dirty) &&
              !address.get('postCode').valid
          }"
        />
        <span class="invalid-feedback">
            <span *ngIf="address.get('postCode').errors?.required">
              Please enter the postcode.
            </span>
        </span>
      </div>

      <div class="col-md-2">
          <button class="btn btn-outline-primary" [disabled]="address.invalid" type="button" (click)="isCollapsed = true">Collapse</button>
      </div>
    </div>

  </div>
